*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body,html{
    /* background: rgba(34, 34, 34, 0.89); */
    height: 100%;
    overflow: hidden;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    clip-path: circle(0% at 100% 0);
 transition:.5s ease-out;
 z-index: 5;
}

.overlay .close{
    position: absolute;
    right: 20px;
    top: 20px;
}

.overlay .lists{
    height: 100%;
    display: grid;
    place-items: center;
}
.overlay .lists .links{
    display: block;
    width: 100%;
}
.overlay .lists .links li{
    transition: .2s ease-out;
}
.overlay .lists .links li a{
    font-size: 1.3rem;
    color: #333;
    padding: 2rem 0;
    display: block;
    width: 100%;
    text-align: center;
}













.burger{
    display: none;
}
.container{
    min-height: 100%;
    background: #000;
}

header{
    height:80px;
    color: #fff;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding:2rem;
    width: 90%;
    margin:0 auto;
}
.logo img{
    
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li{
    padding:1rem;

}

.links li a{
   color: #fff;
   font-size: 1rem;
   font-weight: 500;

}

.cta{
    margin-left: 2rem;
    display: flex;
}
.cta button:nth-child(1){
    display: block;
    padding:.8rem 2rem;
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    background: #fff;
    border: none;
}
.cta button:nth-child(2){
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: none;
}


.body-wrapper{
    height:calc(100% - 80px);
    max-width: 1400px;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}


.text-section{
max-width: 500px;
}
.top-text{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
}
.top-text span{
    display: block;
    width: 60px;
    height: 2px;
    background: #fff;
    margin-right: 2rem;
}

.large-text{
    font-size: 2.3rem;
    width: 100%;
    color: #fff;
    padding-top: 2rem;
    font-weight: lighter;
}
.large-text p{
line-height: 1.4;
clip-path: inset(0 0 0 0);
}

.para{
    padding-top: 2rem;
    color: #fff;
    font-size: 18px;
    width: 80%;
    padding-bottom: 3rem;
}
.para p{
    line-height: 1.4;
}

.text-section .cta{
    margin-left: 0;
}
.text-section .cta button{
    display: flex;
    align-items: center;
}
.text-section .cta button span{
    display: inline-block;
    margin-right: .7rem;
}

.circle{
    width: 450px;
    height: 450px;
    background: linear-gradient(to bottom right,  #fd5714 2%,#fa9855 100%);
    border-radius: 50%;
    position: relative;
    
}

.input{
    position: absolute;
    right: -10%;
    top: 15%;
    width: 350px;
}

.input input{
    padding: .8rem 4rem;
    border: none;
    font-size: 14px;
    background: rgba(255, 255,255, 0.2);
    color: #000;
    outline: none;
    border-radius: 5px;
    backdrop-filter: blur(40px);
    width: 100%;
}

.input input::placeholder{
    color: #fff;
    font-weight: bold;
}

.card{
    width: 400px;
    padding: 2rem;
    background: rgba(255, 255,255, 0.2);
    color: rgb(230, 230, 230);
    border-radius: 10px;
    position: absolute;
    bottom: -10%;
    left: -20%;
    backdrop-filter: blur(10px);
}

.card .head{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.card .head img{
    width: 15px;
}
.circles span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(230, 230, 230);
    display: block;
}

.circles .circle-two{
    display: flex;
}
.circle-two span:nth-child(2){
    margin-left: -10px;
}
.circles p{
font-size: 6px;
text-align: center;
}

.card-text{
    font-family: Monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 2rem;
}

.user-name{
    padding-bottom: .3rem;
    font-size: 15px;
}
.card-number{
    padding-bottom: 0.8rem;
    font-size: 1rem;
}
.validity-date span{
    font-size: 8px;
    font-weight: lighter;
}

.validity-date .date{
    font-size: 15px;
    font-weight: 500;
}

.footer{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 auto;
}
.footer .left-content{
    display: flex;
    align-items: center;
   
}
.footer .left-content .logo{
    height: 40px;
    width: 40px;
    background: radial-gradient(64.79% 64.79% at 29.29% 21.6%, #FD5714 16.93%, #FB8A47 61.81%, #FF9443 100%, #FA9855 100%);    margin-right: 1rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}


.footer .left-content span{
    display: block;
    font-size: 14px;
    line-height: 1.3;
    color: #ccc;
}

.footer .right-content a{
    color: #fff;
}

/* tablet */
@media (max-width:950px){
    body{
        overflow: scroll;
    }


    .burger{
        display: block;
    }
    .nav-list{
        display: none;
    }
    
.body-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: auto;
}
.large-text{
    font-size: 1.6rem;
}

.circle{
    width: 300px;
    height: 300px;
}

.input{
    width: auto;
}
.card{
    width: auto;
    padding: 1rem;
    position: absolute;
    bottom: -10%;
    left: -15%;
}

.card .head{
    padding-bottom: 1rem;
}


.user-name{
    padding-bottom: .3rem;
    font-size: 14px;
}


.footer{
    display: block;
}

.footer .left-content, .right-content{
    padding-bottom: 2rem;
}


}


@media (max-width:350px){
    body{
        overflow: scroll;
    }
    .nav-list{
        display: none;
    }
    .text-section{
        margin-bottom: 6rem;
        padding-left: 1rem;
    }


.large-text{
    font-size: 1.6rem;
}

.circle{
    width: 300px;
    height: 300px;
    margin-bottom: 5rem;
}

.input{
   top: 10%;
   right: 0;
}
.card{
    width: 100%;
    padding: 1rem;
    position: absolute;
    left: 0%;
    bottom: -20%;
}

.card .head{
    padding-bottom: 1rem;
}


.user-name{
    padding-bottom: .3rem;
    font-size: 14px;
}


.footer{
    display: block;
}

.footer .left-content, .right-content{
    padding-bottom: 2rem;
}




}